openapi: 3.0.0
info:
  title: Power Automate Incoming Webhook (Weekly Defender Incident Report)
  description: >-
    週次 Defender インシデントレポート（HTML）を Power Automate の
    「HTTP 要求の受信時 (When a HTTP request is received)」トリガー宛に
    POST するための Webhook エンドポイント。
    生成された HTML レポートを JSON ボディとして送信する。
  version: "1.0"

# ─────────────────────────────────────────────────────────────
# 設定手順（プラグイン適用前に編集すること）
#   1. Power Automate で「HTTP 要求の受信時」トリガーを持つフローを作成し、
#      「フローをトリガーできるユーザー」を「テナント内のユーザーのみ」に設定する。
#   2. フロー保存後に表示される HTTP POST URL をコピーする。
#      新アーキテクチャ（Power Platform）の URL は次の形式（sig を含まない）:
#      https://<envId>.<region>.environment.api.powerplatform.com
#        /powerautomate/automations/direct/workflows/<workflowId>/triggers/manual/paths/invoke
#        ?api-version=1
#   3. 下記 servers.url を自分の <envId>.<region>.environment.api.powerplatform.com に書き換える。
#   4. 下記 paths のキー（/powerautomate/.../invoke）の <workflowId> を自分の値に書き換える。
#   5. 認証は OAuth（Microsoft Entra ID）。Security Copilot 側は AADDelegated を使用し、
#      audience（公開クラウド: https://service.flow.microsoft.com/）のトークンを付与する。
#      この URL には署名（sig）は含まれない。
#   6. 本ファイルを GitHub Gist などの公開 URL でホストし、その URL を
#      マニフェストの OpenApiSpecUrl に設定する。
# ─────────────────────────────────────────────────────────────

servers:
  - url: https://default464ded72195041508811b47ceb7183.44.environment.api.powerplatform.com

paths:
  /powerautomate/automations/direct/workflows/518e3b87210247c99efddafd635896dd/triggers/manual/paths/invoke:
    post:
      operationId: SendDefenderReportToWebhook
      summary: 週次 Defender インシデントレポート(HTML)を Power Automate Webhook に送信する
      description: |
        生成済みの週次 Defender インシデントレポート(HTML)を、
        Power Automate の Incoming Webhook (HTTP 要求の受信時トリガー) に
        JSON ボディとして POST する。Power Automate 側でメール送信・
        Teams 投稿・SharePoint 保存などの後続処理を行う。
        #ExamplePrompts 週次 Defender インシデントレポートを Power Automate に送信して
        #ExamplePrompts 生成した HTML レポートを Webhook に POST して
      parameters:
        - in: query
          name: api-version
          required: true
          description: Power Platform（新アーキテクチャ）API バージョン。固定値 1 を指定する。
          schema:
            type: string
            default: "1"
            enum:
              - "1"
      requestBody:
        description: Power Automate に渡すレポートデータ。
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reportTitle
                - htmlBody
              properties:
                reportTitle:
                  type: string
                  description: レポートのタイトル（メール件名などに利用）。
                  example: "週次 Defender インシデントレポート 2026-06-08 〜 2026-06-14"
                summary:
                  type: string
                  description: レポートの要約（プレーンテキスト数行）。
                htmlBody:
                  type: string
                  description: >-
                    メール本文として送信可能な、インライン CSS を含む完全な HTML 文字列。
                    <!DOCTYPE html> で始まり </html> で終わる。
                generatedAt:
                  type: string
                  description: レポート生成日時（ISO 8601、例 2026-06-15T09:00:00Z）。
      responses:
        "200":
          description: 正常に受信された。
          content:
            application/json:
              schema:
                type: object
        "202":
          description: 受信され、非同期で処理中。
        "400":
          description: 不正なリクエスト。
        "401":
          description: 認証に失敗した（Entra ID トークンが無効、または audience 不一致）。
        "403":
          description: 権限不足（テナント外、または許可されていないユーザー）。
